/*STYLE DO STRONY ROBOTSYSTEM*/

/*
SPIS TREŚCI
    1. Style ogólne.
    2. Style dla NavBar.
*/

/*-- STYLE OGÓLNE - BEGIN --*/
:root{
    --white: #ffffff;
    --mainBackgroundColor: #f5fafd;
    --mainTitleColor: #3C424F;;
    --mainFontColor: #707070;
    --mainBlueColor: #03a9f4;
    --mainFooterColor: #404040;
    --mainGoldColor: #FF9800;
    --hoverBtnColor: #2ebcfc;
    --hoverBtnGoldColor: #ffad33;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--mainBackgroundColor);
    overflow-x: hidden;
}
h2{
    display: inline-block;
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 4.5vh;
    color: var(--mainTitleColor);
    padding: 0 2rem 0.6rem;
    border-bottom: 3px solid var(--mainBlueColor);
}
article > p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--mainFontColor);
}
button{
    outline: none;
    border: none;
}
/*-- STYLE OGÓLNE - END --*/

/*-- STYLE DLA NAVBAR - BEGIN --*/
.mobileNavbar{
    display: none;
}

header{
    width: 100vw;
    height: 90px;
    padding: 0 12vw 0 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--white);
    box-shadow: 0px 0px 12px 1px rgba(17, 17, 17, 1);
    z-index: 10;
    top: 0;
}

header > img, nav{
    height: 100%;
}

header > img{
    box-sizing: border-box;
    padding: 10px;
} 

nav > ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
nav > ul > li > a{
    padding: 5px 15px;
    margin: 0px 20px;
    cursor: pointer;
}

header > .languageButtonsWrapper{
    position: absolute;
    top: 0px;
    right: 20px;
}
.languageButtonsWrapper > button{
    width: 30px;
    height: 20px;
    margin: 5px;
    background-color: red;
}
/*-- STYLE DLA NAVBAR - END --*/

/*-- STYLE DLA SLIDER - BEGIN --*/
.sliderWrapper{
    position: relative;
    margin-top: 90px;
    height: 80vh;
    overflow: hidden;
}
.carousel-item > img{
    width: 100%;
    height: 600px;
    filter: brightness(28%);
}
.sliderContentWrapper{
    position: absolute;
    left: calc((100vw - 35vw)/2);
    top: 25vh;
    text-align: center;
    color: var(--white);
    font-weight: 300;
}
.sliderContentWrapper > h3{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
}
.sliderContentWrapper > p{
    font-size: 1.2rem;
    margin: 10px 0;
}
.sliderContentWrapper > button{
    width: 22vw;
    height: 45px;
    font-size: 1.2rem;
    background-color: var(--mainGoldColor);
    border-radius: 10px;
    color: var(--white);
    margin-top: 50px;
}
.sliderContentWrapper > button:hover{
    animation: none;
}
/*-- STYLE DLA SLIDER - END --*/

/*-- STYLE DLA SEKCJI O NAS - BEGIN --*/
.aboutUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 5vw;
    background-color: var(--mainBackgroundColor);
}
.aboutUs > article{
    width: 38vw;
    text-align: center;
}
.aboutUs > article > button{
    width: 170px;
    height: 45px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--white);
    background-color: var(--mainBlueColor);
    border-radius: 10px;
    cursor: pointer;
}
.aboutUs > article > button:hover{
    animation: none;
    background-color: var(--hoverBtnColor);
}
.aboutUs > img{
    width: 36vw;
    border-radius: 50px 5px 50px 5px;
}
/*-- STYLE DLA SEKCJI O NAS - END --*/

/*-- STYLE DLA SEKCJI WARTOŚĆ DODANA - BEGIN --*/
.howWeCanHelp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 2vw;
    background-color: var(--mainBackgroundColor);
}
.howWeCanHelp > article{
    width: 70vw;
    text-align: center;
}
.howWeCanHelp > div {
    margin: 50px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.howWeCanHelp > div > img{
    margin: 0 20px;
}
/*-- STYLE DLA SEKCJI WARTOŚĆ DODANA - END --*/

/*-- STYLE DLA SEKCJI WSPÓŁPRACA - BEGIN --*/
.cooperation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 5vw;
    background-color: var(--mainBackgroundColor);
}
.cooperation > article{
    width: 38vw;
    text-align: center;
}
.cooperation > article > button{
    width: 170px;
    height: 45px;
    margin: 20px 10px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--white);
    background-color: var(--mainBlueColor);
    border-radius: 10px;
    cursor: pointer;
}
.cooperation > article > button:hover{
    animation: none;
    background-color: var(--hoverBtnColor);
}
.cooperation > img{
    width: 36vw;
    border-radius: 10px;
}
/*-- STYLE DLA SEKCJI WSPÓŁPRACA - END --*/

/*-- STYLE DLA SEKCJI ZAUFALI NAM - BEGIN --*/
.ourCustomers{
    padding: 60px 10px;
    background-color: var(--mainBackgroundColor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ourCustomers > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourCustomers > div > img{
    margin: 10px 15px;
}
/*-- STYLE DLA SEKCJI ZAUFALI NAM - END --*/

/*-- STYLE DLA SEKCJI FOOTER - BEGIN--*/
footer{
    height: 40vh;
    background-color: var(--mainFooterColor);
    box-shadow: 0px 0px 4px 1px var(--mainFontColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10vw;
    
}
footer > address{
    width: 20vw;
    color: var(--white);
    text-align: center;
    line-height: 0.8rem;
}
.phoneNumber, .contactEmail{
    line-height: 1.8rem;
    color: var(--white);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}
.phoneNumber:hover, .contactEmail:hover{
    color: #FF9800;
    font-size: 1.05rem;
}
footer > iframe{
    width: 40vw;
    height: 35vh;
    border-radius: 5px;
}
/*-- STYLE DLA SEKCJI FOOTER - END--*/